  <div class="test" id="testimonials">
    <div class="container">
      <div class="test-top">
        <section class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="test-one">
                  <div class="col-md-3 test-left">
                    <%= link_to image_tag("room_0", height: 300, width: 450), new_booking_path(room_type:0)%>              
                    <h4>Deluxe Rooms - Queen Size Bed</h4>
                    <p>Deluxe Rooms. A favorite for the budget traveler. </p><br/><br/>
                  </div>
                  <div class="col-md-3 test-left">
                    <%= link_to image_tag("room_1", height: 300, width: 450), new_booking_path(room_type:1)%>
                    <h4>Luxury Rooms - Queen Size Bed and Pool Facing</h4>
                    <p>Luxury Rooms. Enjoy the poolside view.</p><br/><br/>
                  </div>
                  <div class="col-md-3 test-left">
                    <%= link_to image_tag("room_2", height: 300, width: 450), new_booking_path(room_type:2)%>
                    <h4>Luxury Suites - King Size Bed and Pool Facing</h4>
                    <p>Luxury Suites. Live like a King.</p><br/><br/>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="test-one">
                  <div class="col-md-3 test-left">
                    <%= link_to image_tag("room_3", height: 300, width: 450), new_booking_path(room_type:3)%>
                    <h4>Presidential Suites - King Size Bed, Pool Facing with a Gym</h4>
                    <p>Presidential Suites. Not just your average suite.</p><br/><br/>                    
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!--end-test-->