  <div class="services">
    <div class="container">
      <div class="services-top heading">
        <h3>Room categories</h3>
      </div>
      <div class="services-bottom">
        <div class="col-md-6 services-left">
          <%= render "room_0" %>
          <%= render "room_1" %>
        </div>
        <div class="col-md-6 services-right">
          <%= render "room_2" %>
          <%= render "room_3" %>
        </div>
      </div>
    </div>
  </div>
  <!--end-services-->
  